<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485928472234-i2vr6ch6if60ngb71sdmppmshf88ih19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485928472234-i2vr6ch6if60ngb71sdmppmshf88ih19</string>
	<key>API_KEY</key>
	<string>AIzaSyCof2oZsfWlQ3VA0-r6gQ14DbPx96Rm9s4</string>
	<key>GCM_SENDER_ID</key>
	<string>485928472234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hackcrisis.oskFlutter</string>
	<key>PROJECT_ID</key>
	<string>hackcrisis-osk-dee9a</string>
	<key>STORAGE_BUCKET</key>
	<string>hackcrisis-osk-dee9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485928472234:ios:fa783084988eb632d5cad3</string>
	<key>DATABASE_URL</key>
	<string>https://hackcrisis-osk-dee9a.firebaseio.com</string>
</dict>
</plist>